:root{
    --mb-dropdown: .5em;
    --m-submit: .75em 0;
}

body{
    width: 100%;
}

.page-wrapper{
    margin: 0 3rem;
}

.main-title{
    margin: 1rem 0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    padding: 5px 10px;
}

#coffees {
    display: flex;
    flex-wrap: wrap;
}

.outer-coffee {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    flex-shrink: 1;
}

h1 {
    font-size: 1.8rem;
}

p {
    margin: auto .5rem;
    flex-shrink: 1;
    color: rgb(154, 154, 169);

}

.inner-coffee {
    display: flex;
    width: 50%;
    margin: 0;
    padding: .5rem 0;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.drop-outer-coffee {
    display: flex;
    width: 50%;
    margin: 0;
    padding: .5rem 0;
    flex-wrap: wrap;
    flex-shrink: 1;
}


.form{
    display: grid;
    grid-template-row: 1em;
    gap: .25em;
}

.input-padding{
    padding: .1em 0;
}

#roast-selection{
    margin-bottom: var(--mb-dropdown);
}

#submit{
    /*margin: var(--m-submit);*/
}

.button{
    background-color: rgb(61,137,203);
    border-radius: 5px;
    border: none;
    margin: var(--m-submit);
    color: white;
}

#roast-category{
    margin-bottom: var(--mb-dropdown);
}









